name: pre-commit
on:
  workflow_dispatch: null
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub App token
        id: github-app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.InsiderActionsApplication_APP_ID }}
          private-key: ${{ secrets.InsiderActionsApplication_PRIVATE_KEY }}
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
